<section>
  <ul class="firstList">
    <li class="chosen"><a href="#">ALL</a></li>
    <li><a href="#">New</a></li>
    <li><a href="#">Tier 1</a></li>
    <li><a href="#">Tier 2</a></li>
    <li><a href="#">Tier 3</a></li>
  </ul>
  <div>
    <span>Quarq</span>
    <p>100 / 100</p>
    <ul class="secondList">
      <li><a href="#">Introduction/Overview</a></li>
      <li><a href="#">PowerMeters</a></li>
      <li><a href="#">ShockWiz</a></li>
      <li><a href="#">TyreWiz</a></li>
      <li><a href="#">Service/Support</a></li>
    </ul>
  </div>
  <ul class="quarqList">
    <ul>
      <li>
        <span>QUARQ: Know Your Powers</span>
        <div>
          <img src="../../assets/img/one.svg" alt="one">
          <img src="../../assets/img/yes.svg" alt="yes">
          <img src="../../assets/img/twenty.svg" alt="twenty">
        </div>
        <p>Introduction to the Quarq brand and history</p>
      </li>
      <li>
        <span>Quarq DZero - Reach A Higher Level</span>
        <div>
          <img src="../../assets/img/two.svg" alt="one">
          <img src="../../assets/img/yes.svg" alt="yes">
          <img src="../../assets/img/twenty.svg" alt="twenty">
        </div>
        <p>Overview of the Quarq DZero features and technologies</p>
      </li>
    </ul>
    <li>
      <span>The Heart Of Your Bicycle: Quarq Factory Tour</span>
        <div>
          <img src="../../assets/img/one.svg" alt="one">
          <img src="../../assets/img/yes.svg" alt="yes">
          <img src="../../assets/img/twenty.svg" alt="twenty">
        </div>
      <p>Introduction and overview of the Quarq factory</p>
    </li>
    <li>
      <span>Quarq ShockWiz: An Automated Suspension Tuning Device</span>
        <div>
          <img src="../../assets/img/one.svg" alt="one">
          <img src="../../assets/img/yes.svg" alt="yes">
          <img src="../../assets/img/twenty.svg" alt="twenty">
        </div>
      <p>Introduction and overview of the Quarq ShockWiz</p>
    </li>
    <li>
      <span>TyreWiz - bicycle the pressure sensor</span>
        <div>
          <img src="../../assets/img/one.svg" alt="one">
          <img src="../../assets/img/yes.svg" alt="yes">
          <img src="../../assets/img/twenty.svg" alt="twenty">
        </div>
      <p>Introduction and overview of the Quarq TyreWiz</p>
    </li>
  </ul>
</section>
