section {
  height: 100%;
  background-image: url(../../assets/img/bicycle.jpeg);
  display: flex;

  p {
    font-family: ethnocentric;
    font-size: 40px;
    background-color: #f301358a;
    color: white;
    padding: 40px 150px 40px 15px;
    margin-top: 200px;
    margin-bottom: 100px;
  }
}
